{% extends 'base.html' %}
{% block body %}
<div class="form">
    <h1>Register</h1>
    <form action="/register-check" method="post" class="register">
        <p>{{error}}</p>
        <input name="fname" placeholder="First Name"/>
        <input name="lname" placeholder="Last Name"/>
        </br>
        <input name="email" type="email"  placeholder="Email"/>
        </br>
        <input name="psw" type="password" placeholder="Password"/>
        </br>
        <input type="submit">
    </form>
</div>
{% endblock %} 